h1, h2, h3, h4, h5, h6, body {
   font-family: Century Gothic !important;
}

p.profile-details {
	padding-left: 20px;
	padding-right: 20px;
	white-space: nowrap;
}

.modal-lg {
	width: 1000px;
}

.nav-pills>li:hover {
	border-radius: 2px;
}

.nav-pills>li {
	border-radius: 2px;
}

.btn {
    padding: 10px;
    border-radius: 0;
    border: none;
}

.btn-small {
    padding-top: 4px;
}

.form-control.training-inputs, .input-group {
	margin-bottom: 5px;
}

#searched-commodity {
    padding: 6px 0px 6px 15px;
    border-radius: 1px;
}

.no-result {
    border-radius: 1px;
}

/*******************alert-message*****************/
.alert-message {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child {
    margin-bottom: 0;
}
.alert-message code {
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success {
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4, .alert-message-success p {
    color: #3C763D;
}
.alert-message-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4, .alert-message-danger p {
    color: #d9534f;
}
.alert-message-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4, .alert-message-warning p {
    color: #f0ad4e;
}
.alert-message-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4, .alert-message-info p {
    color: #5bc0de;
}
.alert-message-default {
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4 {
    color: #000;
}
.alert-message-notice {
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4, .alert-message-notice p {
    color: #444;
}
/****************************************************************/

.modal-header button.close {
    padding-right: 20px;
}

.nav.nav-pills {
    margin-bottom: 10px;
}

.label {
    display: inline-block;
}

.modal-body .chosen-container {
    width: 375px !important;
}

.tab-content .chosen-container {
    width: 265px !important;
}

#modal-search .modal-dialog {
    width: 890px;
}

#search-row {
    margin-bottom: 5px;
}

.collapsible-clone-btn {
    padding: 2px 15px 2px 15px;
    margin-top: -20px;
    margin-right: 5px;
}

#rht-input-collapsibles {
    margin-top: 5px;
    margin-bottom: 10px;
}

/*loading modal*/
#processing-modal.modal-static { 
    position: fixed;
    top: 50% !important; 
    left: 50% !important; 
    margin-top: -100px;  
    margin-left: -100px; 
    overflow: visible !important;
}
#processing-modal.modal-static,
#processing-modal.modal-static .modal-dialog,
#processing-modal.modal-static .modal-content {
    width: 200px; 
    height: 200px; 
}
#processing-modal.modal-static .modal-dialog,
#processing-modal.modal-static .modal-content {
    padding: 0 !important; 
    margin: 0 !important;
}
/*****************/


