.form-control {
    border: 1px solid #D6D6D6;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    padding: 6px 15px;
}

.sign-in-form {
    background: #ededed;
    padding: 20px 50px 20px 50px;
}

legend {
    border: medium none;
    color: #7F7F7F;
    display: block;
    font-size: 20px;
    line-height: inherit;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.btn {
    padding: 10px;
    border-radius: 0;
    border: none;
}

.page-header {
    margin: 5px 0 20px;
}

#login {
    background-color: green;
}

#forpass {
    background-color: black;
}